
h1.header {
    color: green;
    background-color: rgba(20, 300, 20, .20);
}

h3.ulTitle {
    width: 300px;
    height: 24px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgba(20, 200, 20, .15);
}

marquee.meow {
    background-color: lightgreen;
}
